<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <img src="images/logo1.png" alt="西安顶峰国际教育中心" class="logo">
            <span class="logo-text">西安顶峰国际教育中心</span>
        </div>
        
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#home" class="nav-link">首页</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">关于我们</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">留学目的地</a>
                <div class="dropdown-menu">
                    <a href="singapore.html" class="dropdown-item">新加坡留学</a>
                    <a href="malaysia.html" class="dropdown-item">马来西亚留学</a>
                    <a href="korea.html" class="dropdown-item">韩国留学</a>
                    <a href="russia.html" class="dropdown-item">俄罗斯留学</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#programs" class="nav-link">课程项目</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link">联系我们</a>
            </li>
        </ul>
        
        <a href="#contact" class="nav-contact-btn">免费咨询</a>
        
        <div class="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>